<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603539273718-74ri53red0ab1jns30pndho36kdbcmpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603539273718-74ri53red0ab1jns30pndho36kdbcmpe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603539273718-fl3tm6u4hgb8noie3qnr3l0m73a4m1hk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVODd_eFvAchVMMzV-p380A6ipWXpkiRs</string>
	<key>GCM_SENDER_ID</key>
	<string>603539273718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMessenger</string>
	<key>PROJECT_ID</key>
	<string>flutter-messenger-83da2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-messenger-83da2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603539273718:ios:5530cf65f3457122e379d7</string>
</dict>
</plist>